.dankImage {
  width: 400px;
  height: 400px;
}

.dankImage.face3 {
  background-image: url('../../assets/face3.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  transition: transform 1s linear;
}

.dankImage.face4 {
  background-image: url('../../assets/face4.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  transition: transform 1s linear;
}
