.dadImage {
  width: 80px;
  height: 80px;
}

.dadImage.face1 {
  background-image: url('../../assets/face1.png');
  background-size: contain;
  transform: rotate(360deg);
  transition: transform 1s linear;
  background-repeat: no-repeat;
}

.dadImage.face2 {
  background-image: url('../../assets/face2.png');
  background-size: contain;
  transform: rotate(360deg);
  transition: transform 1s linear;
  background-repeat: no-repeat;
}
